---
import AnimatedTabs from '../components/Navbar';
import '@fontsource-variable/inter-tight';
import '@fontsource-variable/inter';
const { title, description, image, url } = Astro.props;


// Definir las propiedades que el layout aceptará
export interface Props {
  title: string;
  description: string;
  image: string;
  url: string;
}

---
<!doctype html>
<html lang="es" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>

    <!-- Meta Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={image} />
    <meta property="og:image:alt" content="Descripción de la imagen" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <!-- Meta para Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@TuCuentaDeTwitter" />
    <meta name="twitter:title" content="Título de la página" />
    <meta name="twitter:description" content="Descripción de la página" />
    <meta name="twitter:image" content={image} />


  </head>
  <body class="flex flex-col min-h-screen">
    <div id="main-content" class="flex-grow">
  
      <slot />
    </div>
    <!-- Menú de Navegación Persistente -->
    <AnimatedTabs client:load />
    
  </body>
</html>

<style is:global>
   @font-face {
    font-family: 'Francy';
    src: url('../../src/fonts/Francy.woff2') format('woff2'),
         url('../../src/fonts/Francy.woff') format('woff'),
         url('../../src/fonts/Francy.ttf') format('truetype'),
         url('../../src/fonts/Francy.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
  font-family: 'ClashGrotesk-Semibold';
  src: url('../../src/fonts/ClashGrotesk-Semibold.woff2') format('woff2'),
       url('../../src/fonts/ClashGrotesk-Semibold.woff') format('woff'),
       url('../../src/fonts/ClashGrotesk-Semibold.ttf') format('truetype'),
       url('../../src/fonts/ClashGrotesk-Semibold.otf') format('opentype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
  @font-face {
  font-family: 'ClashGrotesk-Bold';
  src: url('../../src/fonts/ClashGrotesk-Bold.woff2') format('woff2'),
       url('../../src/fonts/ClashGrotesk-Bold.woff') format('woff'),
       url('../../src/fonts/ClashGrotesk-Bold.ttf') format('truetype'),
       url('../../src/fonts/ClashGrotesk-Bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
  @font-face {
  font-family: 'ClashDisplay';
  src: url('../../src/fonts/ClashDisplay-Semibold.woff2') format('woff2'),
       url('../../src/fonts/ClashDisplay-Semibold.woff') format('woff'),
       url('../../src/fonts/ClashDisplay-Semibold.ttf') format('truetype'),
       url('../../src/fonts/ClashDisplay-Semibold.otf') format('opentype');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #161616;
    font-family: 'Inter Tight Variable', sans-serif;
    scroll-behavior: smooth;
    
  }

  html:not(.dark),
  html:not(.dark) body {
    background: #ffffff; /* fondo claro */
  }

  html.dark,
  html.dark body {
    background: #161616; /* fondo oscuro */
  }


  @view-transition{
  navigation: auto;
  }
</style>